# Node
node_modules/
npm-debug.log

# Logs
*.log
logs/
debug.log

# Reports
reports/
*.html
*.json

# Temp
.temp/
tmp/

# Docker
*.pid
*.seed
*.bak

# IDEs
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# K6 artifacts
*.csv
*.txt
